.formulario-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
    gap: 20px;
}

.formulario-container .formulario{
    flex: 1;
    background-color: #00000022;
    border-radius: 20px;
    padding: 30px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0 ,0, 0.08);
}